<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <connectionStrings>
    <add name="ConnectionString" connectionString="server=isfinal.database.windows.net;uid=isfinal;pwd=!QAZ@WSX111;database=ISFinal; Connection Lifetime=200 ;"/>
  </connectionStrings>
</configuration>