<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <connectionStrings>
    <add name="ConnectionString" connectionString="server=localhost;uid=sa;pwd=1;database=ISFinal; Connection Lifetime=200 ;"/>
  </connectionStrings>
</configuration>